*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}
body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}
.body{
    font-size: 40px; 
    margin-left:50px;  
}
.header{
    background-color:#FEA685;
    height:110px;
    width: 100%;
    display: flex;
    align-items: center;
}
.header p {
    margin-left: 50px;
    font-size: 40px;
}
.nav{
   
    background-color:#FEA685;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.nav > p{
    width: 30%;
    margin-left: 50px;
    font-size: 40px;
}
.four{
    width: 70%;
    /* %(w.r.t.parent) or vh() or vw */
    display: flex;
    justify-content: space-evenly;
}
.one{
    height:50px;
    width: 20%;
    background-color: white;
}
.middle{
    display: flex;
    gap: 20px;
    
}
.article{
    width: 100%;
    height:340px;
    background-color: #34C9FF;
    padding: 0 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.section{
    background-color:#A2E1FD;
    height: 82px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left:30px ;

  
}
.section > p{
    font-size: 25px;
}

.articlepara{
    font-size: 40px;
}
.aside{
    font: 30px;
    width: 70%;
    height:340px;
    background-color: #D9D9D9;
    padding:0 30px ;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.asidesub{
    height:90px ;
    width: 100%;
    background-color: #E9E9E9;
}
.aside > p{
    margin-left: 50px;
    font-size: 40px; 
}

.footer{

    background-color:#FEA685;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}
.footer > p{
    margin-left: 50px;
    font-size: 40px;
}