/* #inner{
    font-size: 100px;
    color: greenyellow;
}
#outer{
font-size: 120px;
color: aqua;
}

/* .heading{
    color:red ;
} */
/*{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.butt{
    background-color: green;
} */

/* div{
    height: 305px;
    width: 105px;
    background-color: black;

}
#upper{
    height: 100px;
    width: 100px;
    background-color:red ;
    border-radius: 50%;

}
#middle{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;

}
#bottom{
    height: 100px;
    width: 100px;
    background-color:green ;    
    border-radius: 50%;

} */
/* *{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
div{
background-color: rgb(12, 11, 11);
height: 60px ;
}
a{
    margin-right: 200px;
    color: white;
}
input{
background-color: white;
color  : rgb(34, 34, 34);
}
button{
    background-color: orange;
    color: white;
}
#logo{
    color: orange;
} */






